runs/Dec13_16-10-19_Michael/events.out.tfevents.1670944219.Michael.19172.0
runs/Dec13_16-11-15_Michael/events.out.tfevents.1670944275.Michael.19172.1
runs/
imageLabels.npy
images.npy
imagePairs.npy
TrainingData.zip
bestmodel2